<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% block content %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2>Records shown currently: {{ listOfValues|length }}</h2>
                <h2>Total number of records: {{ totalVals }}</h2>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ticker</th>
                            <th>Price</th>
                            <th>Transaction Date</th>
                            <th>Transaction Type</th>
                            <th>Quantity</th>
                            <th>Account Number</th>
                            <th>Record creation date/time</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for record in listOfValues %}
                        <tr>
                            <td>{{ record.getID() }}</td>
                            <td>{{ record.getTicker() }}</td>
                            <td>{{ record.getPrice() }}</td>
                            <td>{{ record.getTransDate() }}</td>
                            <td>{{ record.getTransType() }}</td>
                            <td>{{ record.getQuantity() }}</td>
                            <td>{{ record.getAccountNumber() }}</td>
                            <td>{{ record.getCreateDate() }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>