.myTable {
    border-width: 3px;
    border-style: solid;
    border-color: darkblue;
}

.jumbotron {
    background: #ECECEC;
    text-align: center;
    padding: 3% 5% 3% 5%;
    width: 40%;
    height: 100%;
}